<!-- weather.html -->
{% extends 'base.html' %}

{% block title %}Weather{% endblock %}

{% block content %}

    <h1>Weather</h1>
    <form method="post">
        <label for="lat">Enter a latitude:</label>
        <input type="number" step="0.0001" id="lat" name="lat" value="{{ lat }}" required>
        <label for="lon">Enter a longitude:</label>
        <input type="number" step="0.0001" id="lon" name="lon" value="{{ lon }}" required>
        <button type="submit">Fetch</button>
    </form>

    {% if weather_data %}
    <h2>Weather Data:</h2>
    <table class="table-info table-bordered">

        <thead>
            <tr>
                <th scope="col"> Key </th>
                <th scope="col"> Value </th>
            </tr>
        </thead>

        <tbody>
            {% for key, value in weather_data.items() %}
            <tr>
                <td>{{ key }}</td>
                <td>
                    {% if value is mapping %}
                        <table>
                            <tbody>
                                {% for subkey, subvalue in value.items() %}
                                <tr>
                                    <td>{{ subkey }}</td>
                                    <td>{{ subvalue }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        {{ value }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    {% endif %}

    {% if table %}
        <table class="table table-hover">
        {{ table|safe }}
        </table>
    {% endif %}

{% endblock %}